.aboveStats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 460px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 10px;
}
.statsBlock{
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border: 1px solid rgba(70, 77, 82, 0.082);
    border-radius: 13px;
    padding: 20px 20px 20px 20px;
    width: 100px;
    background-color: rgb(167, 167, 255);
    margin: 4px 4px 4px 4px;
}
.statCnt{
    font-weight: bold;
}
.aboveStatsName{
    font-size: 13px;
}
.compareStats{
    font-size: 13px;
}
.memoStats{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border: 1px solid rgba(70, 77, 82, 0.082);
    border-radius: 12px;
    margin-left: 8px;
    width: 440px;
    height: 50px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 212, 152);

}
.memoStatItem{
    padding-left: 10px;
    padding-right: 10px;
}
