.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;

}
a{
  text-decoration: none;
  color: black;
}
@font-face {
  font-family: 'MaruBuri';
  src: url("./fonts/MaruBuri-Regular.ttf");
}



